* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 90vh;
    width: 95%;
    margin: 10px auto 0;
    background-color: silver;
    color: black;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}